* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {

    width: 600px;
    height: 600px;
    margin: auto;
}

#campo {

    height: 100%;
    height: 100%;
    border: 2px black solid;

    display: flex;
    flex-wrap: wrap;
}

.cellaBase {

    width: calc(100% / 10);
    height: calc(100% / 10);
    border: rgb(220, 220, 220) 0.5px solid;
    background-color: rgb(193, 94, 94);
}

.clicked {

    background-color: green;
}

header {

    text-align: center;
    height: 100px;
    background-color: rgb(134, 183, 225);
    line-height: 100px;
}

header button {

    padding: 20px;
    border: none;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(219, 134, 59);
    color: white;
    margin-right: 10px;
}

header select {

    padding: 20px;
    border: none;
}

footer {

    background-color: rgb(134, 183, 225);
    height: 100px;
}

main {

    padding: 50px 0px;
}

#punteggio {

    text-align: center;
    line-height: 100px;
    text-transform: capitalize;
}